configuration {
    modi:           "drun,run";
    show-icons:     false;
    icon-theme:     "Papirus-Dark";
    drun-display-format: "{name}";
    display-drun:   "";
    display-run:    "";
}

@theme "~/.config/rofi/theme.rasi"
